body {
  background-color: #05090f;
  color: #818181;
}

.logo {
  height: 10%;
}

.container {
  height: 90%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  row-gap: 20px;
  column-gap: 20px;
}
.container .block {
  border: 2px solid #44484c;
}

